@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.list{
    display:flex;
    list-style-type: none;
    justify-content:center;
    align-items: center;
    gap:2rem;
}
.icon{
    height:2rem;
    width:13.75rem;
}
.list a{
    text-decoration: none;
    color:white;
}
.navbar{
    border:5px solid greenyellow;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1.5rem;
    background-color:rgba(26, 11, 46, 1);
}
.btn{
    align-items: center;
    /* height: 2.75rem;
    width:8.45rem; */
    padding:1rem;
    border-radius:2rem ;
    font-size: 1rem;
    font-weight: semibold;
    text-align: center;
    color:white;
    border:none;
    box-sizing: border-box;
    background:linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8)
}
.anchor{
     align-items: center;
    /* height: 2.75rem;
    width:8.45rem; */
    padding:1rem;
    border-radius:2rem ;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color:green;
    border:2px solid green;
    text-decoration: none;

}

.p-banner{
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    border:6px solid yellow;
}
.banner{
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    border:5px solid hotpink;
}
.top-btn{
    height:2.20rem;
    width:4.20rem;
    border-radius:1.20rem;
    /* padding:1rem; */
    background-color:rgba(0, 255, 136, 1);
    border:none;
    font-weight: bold;
}
.b-img button{
    position: absolute;
    top: 10%;
    left: 70%;
}
.b-img{
    width: 60%;
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    border:5px solid green;
}
.b-img img{
    margin: 6rem 16rem 5rem 6.5rem;
    width: 30%;
}

.b-description{
    text-align: center;
    color:aliceblue;
    margin-top: 0px;
    padding-top: 0px;
}
.btn-text{
    gap:10px;
}

/* upper mid part all design  */
.top-mid{
    text-align: center;
    align-items: center;
}
.rating-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-rows: repeat(2,1fr);
    justify-content: center; */
    gap:3rem;
    box-sizing: border-box;
    justify-content: space-evenly;
    /* padding-inline-start: 7rem;
    padding-inline-end:5rem; */
    border:4px solid greenyellow;
padding:4rem 5rem 4rem 7rem;
}
.box{
    /* height:200px;
    width:200px; */
    border:4px solid #FB09B4;
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}
.box h1{
    color:rgba(0, 255, 136, 1);
    font-weight:bolder;
    font-size: 48px;
    line-height: 0px;
    
}
.box p{
    color:white;
    line-height: 0px;
}
.upper-mid{
    border:5px solid red;
    background-color: rgba(26, 11, 46, 1);
    padding:4rem 5rem 4rem 7rem;
}
.top-mid{
    border:6px dotted teal;
    color:aliceblue;
    
}

/* middle mid part design start'' Oooh amake ferai ke, ki moja */
.why-container{
    padding:3rem 6.5rem;
    border:6px dashed purple;
    color:azure;
    background-color: rgba(37, 13, 68, 1);
    
}
#why{
text-align: center;
}

.why-tech{
    display: grid;
    gap:1.5rem;
    grid-template-areas:
    "side-bar mobil-bar mobil-bar"
    "side-bar global-bar global-bar"
    "footer-exclusive footer-exclusive footer-rich"

}

.why-tech>*{
    /* border:5px solid green; */
    padding:30px;
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 20px;
}
.side-bar{
    grid-area:side-bar;
    padding-top: 5rem;
}
.mobil-bar{
    grid-area:mobil-bar;
}
.global-bar{
    grid-area:global-bar;
}
.footer-exclusive{
    grid-area:footer-exclusive;
}
.footer-rich{
    grid-area:footer-rich;
}




















































































