@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.list-replace{
    display:none;
}

.list{
    display:flex;
    list-style-type: none;
    justify-content:center;
    align-items: center;
    gap:2rem;
}
.icon{
    height:2rem;
    width:13.75rem;
}
.list a{
    text-decoration: none;
    color:white;
}
.navbar{
    /* border:5px solid greenyellow; */
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1.5rem;
    background-color:rgba(26, 11, 46, 1);
}
.btn{
    position: relative;
    align-items: center;
    padding:1rem;
    border-radius:2rem ;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color:white;
    border:none;
    cursor: pointer;
    box-sizing: border-box;
    background:linear-gradient(45deg,#F7E93F,#FB09B4,#9100F8);
    z-index: 5;
}

/* rotating border outside */
.btn::before{
  content:"";
  position:absolute;
  inset:-1px;                
  border-radius: inherit;
  background: conic-gradient(
    from var(--angle),
    45deg,
    #F7E93F,
    #FB09B4,
    #9100F8
  );
  z-index:-5;
  animation: spin 3s linear infinite;
}

/* glow part */
.btn::after{
  content:"";
  position:absolute;
  inset:-1px;
  border-radius: inherit;
  background: conic-gradient(
    from var(--angle),
    #00ffd5,
    #0066ff,
    #ff00aa,
    #ff8800,
    #00ffd5
  );
  filter: blur(15px);
  opacity: 0.6;
  z-index:-2;
  animation: spin 3s linear infinite;
}
/* animation rotate part is here */
@property --angle{
  syntax:"<angle>";
  initial-value:0deg;
  inherits:false;
}

@keyframes spin{
  from{ --angle:0deg; }
  to{ --angle:360deg; }
}
.anchor{
     align-items: center;
    padding:1rem;
    border-radius:2rem ;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color:green;
    border:2px solid green;
    text-decoration: none;

}

.p-banner{
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* border:6px solid yellow; */
}
.banner{
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    /* border:5px solid hotpink; */
}
.top-btn{
    height:2.20rem;
    width:4.20rem;
    border-radius:1.20rem;
    background-color:rgba(0, 255, 136, 1);
    border:none;
    font-size:1.20rem;
    font-weight: bold;
    cursor: pointer;
}
.b-img button{
    position: absolute;
    top: 10%;
    left: 70%;
}
.b-img{
    width: 60%;
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    /* border:5px solid green; */
}
.b-img img{
    margin: 6rem 16rem 5rem 6.5rem;
    width: 30%;
}

.b-description{
    text-align: center;
    color:aliceblue;
    margin-top: 0px;
    padding-top: 0px;
}
.btn-text{
    gap:10px;
}

/* upper mid part all design ------------------------------- */
.upper-mid{
    /* border:5px solid red; */
    background-color: rgba(26, 11, 46, 1);
    padding:4rem 5rem 4rem 7rem;
}
.top-mid{
    text-align: center;
    align-items: center;
    /* border:6px dotted teal; */
    color:aliceblue;
}
/* horizontal line */
.hr-line{
    
    margin:100px 0 100px  0;
    border:0.1px solid grey;

}
/* same work using grid area */
.rating-card{
    display: grid;
    gap:20px;
    grid-template-areas: 
    "box-1 box-2 box-3 box-4"
}

.rating-card>*{
    /* border:5px solid yellow; */
}
.box-1{
    grid-area:box-1;
}
.box-2{
    grid-area:box-2;
}
.box-3{
    grid-area:box-3;
}
.box-4{
    grid-area:box-4;
}
.box{
    
    /* border:4px solid #FB09B4; */
    justify-content: center;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}
.box h1{
    color:rgba(0, 255, 136, 1);
    font-weight:bolder;
    font-size: 48px;
    line-height: 0px;
    
}
.box p{
    color:white;
    line-height: 0px;
} 

/* -------------------------------------------- */



/* middle mid part design start'' Ooh ki moja */
.why-container{
    padding:3rem 6.5rem;
    /* border:6px dashed purple; */
    color:azure;
    background-color: rgba(37, 13, 68, 1);
    
}
#why{
text-align: center;
}

.why-tech{
    display: grid;
    gap:1.5rem;
    grid-template-areas:
    "side-bar mobil-bar mobil-bar"
    "side-bar global-bar global-bar"
    "footer-exclusive footer-exclusive footer-rich"

}

.why-tech>*{
    /* border:5px solid green; */
    padding:30px;
    background-color:rgba(53, 17, 101, 0.4);
    border-radius: 20px;
}
.side-bar{
    grid-area:side-bar;
    padding-top: 5rem;
}
.mobil-bar{
    grid-area:mobil-bar;
}
.global-bar{
    grid-area:global-bar;
}
.footer-exclusive{
    grid-area:footer-exclusive;
}
.footer-rich{
    grid-area:footer-rich;
}

/* video adding  part */
.card-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    justify-content:space-between;
    gap:1rem;
}
.card{
    background-color: rgba(37, 13, 68, 1);
    border-radius:20px;
    /* border:4px solid red; */
    width:300px;
    height:450px; 
      
}
.card-text{
    padding:10px;
}
.ifram{
    border-radius: 15px 15px 0 0;
    width:300px;
    height:215px;
}
.video-container h1{
text-align: center;
}
 
.video-container{
     padding:3rem 6.5rem;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(26, 11, 46, 1);
    justify-content: space-around;
   
}

/* alex part start */
.meet{
    border-radius:1.5rem;
   margin:3rem auto;
    /* border:6px dotted red; */
}
.alex-data{
    border-radius:1.5rem;
    /* border:3px dashed greenyellow; */
    display:flex;
    flex-direction: row;
    gap:1rem;
    padding:5px;
    background-color: rgba(37, 13, 68, 1)
}
.alex-media{
    display:flex;
    gap:5px;
    /* border:3px solid deeppink; */
}
.alex-social{
    border:1px solid rgba(83, 60, 114, 1);
    padding:10px;
    margin:5px;
    border-radius: 100px;
    box-sizing: border-box;
}
.tech-wave{
    text-align: center;
    align-items: center;
    /* border:6px solid teal; */
}
.footer-icon a{
    text-decoration: none;
    color:rgba(255, 255, 255, 1);
    
}
.footer-social{
    margin:1.5rem;
    display: flex;
    text-align: center;
    justify-content: center;
    gap:40px;
}
footer{
    height:20vh;
    background-image:url(../images/footer-bg.png);
    padding:7.5rem;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color:rgba(255, 255, 255, 1);
    /* border:5px dotted darkorange; */
}
/* all part responsive start */
@media screen and (max-width:576px){
    .navbar{
    display:flex;
    gap:1rem;
    flex-direction: row;
    width: 88vw;
}
.list,.btn-1{
    display: none;
}
.list-replace{
    display:block;
    margin-inline-end: 0px;
}

.banner {
    margin: 0 auto;
}
.p-banner {
   height: 70vh;
    width:100vw;
}
.btn-text{
    flex-direction: row;
}
.b-img{
    width: 65%;
    margin:20px 5px 0 0;
}

.b-description {
    text-align: center;
    width:80vw;
    
}
.upper-mid{
width: 90vw;
gap:0px;
    padding:1.25rem;
    padding-top: 12rem;
   
}
.top-mid{
    width:80vw;
}
.rating-card{
    gap:0;
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-4"
}
.why-container {
    width:95vw;
    padding: 3rem 0.5rem;
    
}
.why-tech{
    margin:1rem;
    gap:1.5rem;
    grid-template-areas:
    "side-bar"
    " mobil-bar"
    "global-bar"
    "footer-exclusive"
    "footer-rich"
}
.card-container{
    grid-template-columns: repeat(1,1fr);
    margin-left:2vw;
    margin-right:2vw;
    
}
.card {
    width: 80vw;
    height: 450px;
}
.video-container{
     padding:3rem 1rem;
     justify-content: center;
     width:91vw;
}
.alex-data {

    flex-direction:column;
   text-align: center;
   padding:0.5rem;
}
.alex-media {
   justify-content: center;
}
footer {
   width:91vw; 
    padding:1rem;
    height:30vh;
}
.meet{
    margin:1rem;
}
.footer-social {
    margin: 1.5rem;
   flex-wrap: wrap;
}

}


















































































